@model AspNetBlog.Models.Post

@{
    Layout = "_Layout";
}

<div class='blog-post'>
<h2 class='title'>
    <a href="#">@Model.Title</a>
</h2>
<p class='metadata'>
<spam>@Model.PostedDate</spam>
  by <a href="">@Model.Author</a>
</p>
<section>
    @Model.Body
</section>

</div><!-- /.blog-post -->
