﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demo blog application to show how to build an ASP.NET 5 application">
    <meta name="author" content="Jess Chadwick">
    <title>My ASP.NET 5 Blog</title>
    <link href="~/lib/site.css" rel="stylesheet">
    <link href="~/lib/blog.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css"  rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="#">Home</a>
            </nav>
        </div>
    </div>

    <div class="container">

        <div class="blog-header">
            <h1 class="blog-title">My ASP.NET 5 Blog</h1>
            <p class="lead blog-description">Learning ASP.NET 5, one post at a time</p>
        </div>

        <div class="row">

            <div class="col-sm-8 blog-main">

                @RenderBody()

            </div><!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>About</h4>
                    <p>
                        This blog is meant for learning, and that's just what we'll do.
                        One of these days, this blog is gonna learn all over you.
                    </p>
                </div>
                <div class="sidebar-module">
                    <h4>Archives</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">March 2014</a></li>
                        <li><a href="#">February 2014</a></li>
                        <li><a href="#">January 2014</a></li>
                        <li><a href="#">December 2013</a></li>
                        <li><a href="#">November 2013</a></li>
                        <li><a href="#">October 2013</a></li>
                        <li><a href="#">September 2013</a></li>
                        <li><a href="#">August 2013</a></li>
                        <li><a href="#">July 2013</a></li>
                        <li><a href="#">June 2013</a></li>
                        <li><a href="#">May 2013</a></li>
                        <li><a href="#">April 2013</a></li>
                    </ol>
                </div>
            </div><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </div><!-- /.container -->
    <footer class="blog-footer">
        <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@@mdo</a>.</p>
        <p>Modified for Lynda.com video training course by  <a href="https://github.com/jchadwick">Jess Chadwick</a></p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
    <script src="/lib/third-party.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js" ></script>
</body>
</html>
